@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Manrope";
    font-style: normal;
    src: url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700;800&display=swap");
  }
  @font-face {
    font-family: "Gilroy Bold";
    src: url("../public/font/Gilroy-ExtraBold.otf") format("opentype");
  }

  @font-face {
    font-family: "Gilroy Light";
    src: url("../public/font/Gilroy-Light.otf") format("opentype");
  }
}
html {
  scroll-behavior: smooth;
}
.react-multi-carousel-dot-list {
  justify-content: start !important;
  margin-left: 5rem !important;
}
#contact{
  height: 380px;
}
@media only screen and (max-width: 767px) {
  #contact{
    height: 535px;
  }
}
#form{
  width: 40%;
  margin-right: 5%
}
@media only screen and (max-width: 350px) {
  #form{
    width: 100%;
    margin-right: -22%;
  }
}
@media only screen and (max-width: 767px) {
  #form{
    width: 101%;
    margin-right: -15%;
  }
}

@media only screen and (max-width:639px ) {
#sendBtn1{
  width: 95%;

}
#sendBtn2{
  padding: 5% 30%;
}
}
#contactPage{
  height: 550px;
  }

.meetSaurav{
  height:446px;
}
@media only screen and (max-width:639px ) {
  .meetSauravText{
    width: 95%;
  }
}
@media only screen and (min-width:639px )and (max-width:767px ) {
  .meetSauravText{
    width: 80%;
  }
  .ceoImage{
    width:400px;
    height:340px;
  }
}