@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Manrope";
    font-style: normal;
    src: url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700;800&display=swap");
  }
  @font-face {
    font-family: "Gilroy Bold";
    src: url("../public/font/Gilroy-ExtraBold.otf") format("opentype");
  }

  @font-face {
    font-family: "Gilroy Light";
    src: url("../public/font/Gilroy-Light.otf") format("opentype");
  }
}
html {
  scroll-behavior: smooth;
}
.react-multi-carousel-dot-list {
  justify-content: start !important;
  margin-left: 5rem !important;
}
#contact{
  height: 380px;
}
.blogpageinput{
  width: 506px;
   max-width: 540px
}
@media  screen and (max-width: 767px) {
  #contact{
    height: 535px;
  }
  .blogpageinput{
    width: 300px;
  }
}

@media only screen and (max-width:639px ) {
#sendBtn1{
  width: 99%;
  padding: 6% 12%;
}
#sendBtn2{
  width: 99%;
  padding: 6% 30%;
}
}
#contactPage{
  height: 550px;
  }
@media only screen and (max-width: 767px) {
  #contactPage{
  height: 800px;
  }
}


